[submodule ".vim/bundle/dracula-theme"]
	path = .vim/bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-bufferline"]
	path = .vim/bundle/vim-bufferline
	url = git@github.com:bling/vim-bufferline.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule ".vim/bundle/vim-jsx-improve"]
	path = .vim/bundle/vim-jsx-improve
	url = git@github.com:chemzqm/vim-jsx-improve.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
