[user]
	email = daniel@bowlhat.net
	name = Daniel Llewellyn
    signingkey = 0349ED21

[gpg]
    program = /usr/bin/gpg

[alias]
	logs = log --show-signature

[url "git+ssh://diddledan@git.launchpad.net/"]
    insteadOf = lp:

[url "git+ssh://diddledan@git.launchpad.net/~diddledan/+git/"]
    insteadOf = lpme:

